apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: aws-secretsmanager
spec:
  provider:
    aws:
      service: SecretsManager
      region: {{ .Values.global.awsRegion | quote }}
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: toy-production-db
  namespace: {{ .Values.namespace }}
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secretsmanager
    kind: ClusterSecretStore
  target:
    name: toy-production-db
    creationPolicy: Owner
    template:
      type: Opaque
      data:
        DATABASE_URL: "{{ `{{ .database_url }}` }}"
  data:
    - secretKey: database_url
      remoteRef:
        key: {{ .Values.databaseSecret.awsSecretName | quote }}
        property: {{ .Values.databaseSecret.property | quote }}
